/* The background to the loader */
.loader_bg {
    position: fixed;
    z-index: 9999;
    background: #333333;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
}

/* The actual loader animation */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 110px;
    width: 220px;
    background: url(/public/LoadingAnimation.gif) no-repeat;
    background-size: cover;
}

/* Base HTML layout */
html {
    display: block;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Base body layout */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #fff;
    display: block;
}

/* Styling of background video */
video {
    opacity: 15%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.table-container {
    left: 0;
    top: 0;
    display: table;
    width: 35%;
    height: 50%;
}

.table {
    display: table-cell;
    vertical-align: middle;
    justify-items: center;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* Styling of header element */
header {
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
    flex-direction: row;
    width: 80%;
    z-index: 1;
}

/* Setting a margin of site header */
.site-header {
    margin-top: 0;
    margin-bottom: 0;
}

.site-header--bottom {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 52px;
    padding-left: 8rem;
    background-color: #4ab848;
    z-index: 100;
    bottom: 0;
}

.top-bar {
    align-items: center;
    justify-items: center;
    padding-left: 3rem;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 52px;
    background-color: #4ab848;
    z-index: 100;
    top: 0;
}

/* Styling for logo in header */
.header-logo--img img {
    bottom: 0;
    padding: 3rem 3rem 1rem 3rem;
    display: flex;
    position: fixed;
    left: 0;
    max-width: 120px;
}

/* The whole navigation bar */
.nav-bar {
    display: grid;
}

/* The left side of nav bar */
nav.main-nav__list- {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    position: fixed;
    z-index: 1;
}

nav.main-nav__sub {
    padding-top: 0;
}

/* The left side of nav bar, individual elements */
.nav li {
    padding: 0 0 0 6rem;
}

/* Main nav bar */
.main-nav__item {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

/* List element styling */
ul li {
    font-weight: 500;
    font-family: "Rajdhani", sans-serif;
    position: relative;
    display: inline-block;
    letter-spacing: -0.03em;
    line-height: 1.25;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-size: 1.1rem;
}

/* List elements on hover styling */
li:hover {
    font-weight: 700;
    font-family: "Rajdhani", sans-serif;
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: all 120ms ease;
}

/* Styling for any link on the page, on hover */
a:-webkit-any-link {
    padding-top: 0.95rem;
    font-weight: 700;
    color:  #0e1328;
    text-shadow: 0 0 10px seagreen;
    cursor: pointer;
    text-decoration: none;
    transition: all 240ms ease;
}

/* Styling for any link on the page, on hover */
a:-webkit-any-link:hover {
    font-weight: 700;
    color:  #0e1328;
    text-shadow: 0 0 10px seagreen;
    cursor: pointer;
    text-decoration: none;
    transition: all 240ms ease;
}

/* List titles containing page links, hidden */
ul ul {
    font-size: 0.5rem;
    position: absolute;
    bottom: 45px;
    left: -40px;
    display: none;
}

/* Show links to pages on hover of title */
ul > li:hover ul {
    display: block;
}

/* Styling for main content of page */
.site-content__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
    padding-top: 40px;
    z-index: 1;
}

/* Center title styling */
p {
    text-align: center;
    color: #0e1328;
    margin: 0;
    font-family: "Rajdhani", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
