table {
    border-radius: 15px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table th {
    cursor: none;
    background-color: #009879;
    color: lightseagreen;
    text-align: left;
}

table th,
table td {
    text-align: center;
    padding: 12px 12px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
    border-bottom-width: 10px;

}